.faces {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  composes: headline from global;
  text-align: center;
}

.facesContainer {
  display: flex;
  justify-content: center;
}

.face {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.copy {
  height: 100%;
  background-color: #00000090;

  transition: opacity 0.2s ease-in-out;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 20px;
  box-sizing: border-box;
}

.copy:hover {
  opacity: 1;
}


.name {
  composes: letter-spaced from global;

  color: var(--orange);
  font-weight: bold;

}
