{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es"
      }
    ]
  ]
}
